<div ng-controller="CityDetailController" class="movie-content">
    <!--<div class="logo"><img src="assets/images/logo.png" width="100px" height="83.3px"></div>-->
    <div class="movie-item-container">
        <div id="service-detail-container">
            <div class="movie-head">
                <img class="movie-icon" src="{{iconUrl}}">
                <p class="movie-text">{{serviceName}}</p>
            </div>
            <div class="city-detail-title">{{data.name}}</div>
            <div class="city-detail-container">
                <img class="city-detail-big" src="{{data.bigImg}}">
                <div class="city-detail-right">
                    <div class="city-detail-text">{{data.intro}}</div>
                    <img src="{{data.smallImg}}" class="city-detail-small">
                    <p class="city-detail-subtext">&nbsp;&nbsp;{{data.subName}}</p>
                </div>
            </div>
        </div>
        <div class="toolbar">
        <span class="toolbar-select">
            {{select.left}}<i class="tip_img toolbar-img"><img ng-src="{{select.icon}}" height="34.7px"> </i>{{select.right}}
        </span>
            <span>|</span>
        <span class="toolbar-ok">
            {{ok.left}}<i class="tip_img toolbar-img"><img src="{{ok.icon}}" height="34.7px"> </i>{{ok.right}}
        </span>
            <!--<span>|</span>-->
        <!--<span class="toolbar-back">-->
            <!--{{menu.left}}<i class="tip_img toolbar-img"><img src="{{menu.icon}}" height="34.7px"> </i>{{menu.right}}-->
        <!--</span>-->
        </div>
    </div>
</div>