<div ng-controller="MovieController" class="movie-content">
    <div class="currency-logo"><img ng-src="{{logoUrl}}"><span>{{name}}</span></div>
    <div class="movie-item-container">
        <div id="movie-detail-container">
            <div class="movie-head1">
                <p class="movie-txt movie-name">{{movieName}}</p>
                <p class="movie-txt movie-dire">{{dire}}：{{movieDirector}}</p>
                <p class="movie-txt movie-act">{{act}}：{{movieActor}}</p>
                <p class="movie-txt movie-intro">{{movieIntro}}</p>
            </div>
        </div>
        <div id="movie-list-container">
            <div class="movie-type">
                <div class="top-arrow"></div>
                <div class="type-name" style="width: 116.66px;margin-left: -25px;">{{typeName}}</div>
                <div class="type-index">({{typeIndex+1}}/{{typeNum}})</div>
                <div class="bot-arrow"></div>
            </div>
            <div class="movie-image-container">
                    <ul ng-repeat="type in movie" id="type{{$index}}" class="type-container" ng-style="{left: listTopStyle + 'px'}">
                        <li ng-repeat="movie in type.list" class="img-container">
                            <img ng-src="{{movie.img}}" class="rotate_img" repeat-finish="movieFinish();">
                        </li>
                    </ul>
            </div>
        </div>
        <div class="toolbar">
        <span class="toolbar-select">
            {{select.left}}<i class="tip_img toolbar-img"><img ng-src="{{select.icon}}" height="34.7px"> </i>{{select.right}}
        </span>
            <span>|</span>
        <span class="toolbar-ok">
            {{ok.left}}<i class="tip_img toolbar-img"><img src="{{ok.icon}}" height="34.7px"> </i>{{ok.right}}
        </span>
            <!--<span>|</span>-->
        <!--<span class="toolbar-back">-->
            <!--{{menu.left}}<i class="tip_img toolbar-img"><img src="{{menu.icon}}" height="34.7px"> </i>{{menu.right}}-->
        <!--</span>-->
        </div>
    </div>
</div>