<div ng-controller="BillController" class="bill-content">
    <div class="content-header">{{bill.title}}</div>
    <div class="content-main">
        <div class="bill-header">
            <span>{{bill.billList}}</span><span>{{bill.time}}</span><span>{{bill.price}}</span>
        </div>
        <ul class="bill-main">
            <li ng-repeat="item in billItems">
                <span>{{item.title}}</span><span>{{item.date| date:'yyyy/MM/dd HH:mm'}}</span><span>{{item.amount| currency:'￥'}}</span>
            </li>
        </ul>
        <div class="bill-footer">
            <div class="bill-pager-container">{{bill.currentPage}}
                <span class="bill-pager">{{pagerText}}</span>
            </div>
            <div class="bill-amount-container">{{bill.total}}
                <span class="bill-amount">{{amountText}}</span>
            </div>
        </div>
    </div>
    <toolbar items="|"></toolbar>
</div>