<div class="menu-container" ng-show="showMenu">
    <div class="menu-name">{{menuItems[selectedMenuItemIndex].name}}</div>
    <div class="menu-guest-info">
        <span>{{guestName}}</span>
        <span>{{roomNumber}}</span>
    </div>
    <i class="left-arrow"></i>
    <div class="menu-item-container">
        <ul ng-style="{left: menuStyleLeft, width: menuStyleWidth}">
            <li ng-repeat="menuItem in menuItems" ng-class="{'selected': selectedMenuItemIndex==$index}">
                <img ng-src="{{menuItem.icon}}">
            </li>
        </ul>
    </div>
    <i class="right-arrow"></i>
    <div class="menu-date-info">
        <span>{{dateString}}</span>
        <span>{{timeString}}</span>
    </div>
</div>