<div ng-controller="OrderController" class="order-content">
    <div class="content-header">{{title}}</div>
    <div class="content-main">
        <div class="category-list-container">
            <ul class="category-list" ng-style="{top: listTopStyle + 'px'}">
                <li ng-repeat="meal in meals" ng-class="{'selected': $index==selectedIndex}">
                    <span>{{meal.name}}</span>
                </li>
            </ul>
        </div>
        <div class="category-preview">
            <div class="category-preview-image-container">
                <img ng-src="{{content.img}}">
            </div>
            <!--<p>{{content.intro}}</p>-->
        </div>
    </div>
    <toolbar items="order_ok|back"></toolbar>
</div>