<div ng-controller="TestController" class="test-content">
    <div class="room-container" style="text-align: center;margin: 10px auto;position: relative;height: 600px;top:-170px">
        <span class="img-container" id="test2">
            <img src="assets/images/movie1.png" height="260px" width="174px" style="opacity: 1;position: relative" class="rotate_img">
            <img src="assets/images/movie2.png" height="260px" width="174px" style="opacity: 1;position: relative" class="rotate_img">
            <img src="assets/images/movie3.png" height="260px" width="174px" style="opacity: 1;position: relative" class="rotate_img">
        </span>
        <span class="img-container" id="test3">
            <img src="assets/images/movie2.png" height="260px" width="174px" style="opacity: 1;position: relative" class="rotate_img">
            <img src="assets/images/movie3.png" height="260px" width="174px" style="opacity: 1;position: relative" class="rotate_img">
            <img src="assets/images/movie1.png" height="260px" width="174px" style="opacity: 1;position: relative" class="rotate_img">
        </span>
        <span class="img-container" id="test4">
            <img src="assets/images/movie3.png" height="260px" width="174px" style="opacity: 1;position: relative" class="rotate_img">
            <img src="assets/images/movie1.png" height="260px" width="174px" style="opacity: 1;position: relative" class="rotate_img">
            <img src="assets/images/movie2.png" height="260px" width="174px" style="opacity: 1;position: relative" class="rotate_img">
        </span>

        <div id="test1" style="position: relative">
            <img src="assets/images/test1.png" height="340px" width="191px" style="opacity: 1;position: absolute;left: 100px">
            <img src="assets/images/test2.png" height="340px" width="191px" style="opacity: 1;position: absolute;left: 400px">
            <img src="assets/images/test3.png" height="340px" width="191px" style="opacity: 1;position: absolute;left: 700px">
        </div>

        <div id="amt_btn" style="position: absolute;left: 0"></div>


        <!--<div id="stage">-->
            <!--<div id="container">-->
                <!--<img src="assets/images/bg_window.jpg" height="213px" width="120px" class="rotate">-->
                <!--<img src="assets/images/bg_window.jpg" height="213px" width="120px" class="rotate">-->
                <!--<img src="assets/images/bg_window.jpg" height="213px" width="120px" class="rotate">-->
                <!--<img src="assets/images/bg_window.jpg" height="213px" width="120px" class="rotate">-->
                <!--<img src="assets/images/bg_window.jpg" height="213px" width="120px" class="rotate">-->
                <!--<img src="assets/images/bg_window.jpg" height="213px" width="120px" class="rotate">-->
                <!--<img src="assets/images/bg_window.jpg" height="213px" width="120px" class="rotate">-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>