<div class="content-footer toolbar" ng-show="showToolbar">
    <ul class="left">
        <li ng-repeat="item in leftItems">
            <img ng-src="{{item.icon}}" ng-if="item.icon">
            <label>{{item.title}}</label>
        </li>
    </ul>
    <div class="center">
        <!--<img ng-src="{{menu.icon}}" ng-if="menu.icon">-->
        <div class="button-menu" ng-class="{true: 'selected', false: ''}[isActive]"><span>{{menu.menuText}}</span></div>
        <label>{{menu.title}}</label>
    </div>
    <ul class="right">
        <li ng-repeat="item in rightItems">
            <img ng-src="{{item.icon}}" ng-if="item.icon">
            <label>{{item.title}}</label>
        </li>
    </ul>
</div>
