<div ng-controller="TplPicTextSimpleController" class="tpl-pic-text-simple-content">
    <div class="content-header">{{title}}</div>
    <div class="content-main tpl-pic-text-simple-main">
        <div class="previous">
            <img ng-src="{{previous.src}}" ng-show="!!previous">
        </div>
        <div class="current">
            <i><img ng-src="{{current.src}}" ng-show="!!current"></i>
            <p ng-show="!!current">{{current.text}}</p>
        </div>
        <div class="next">
            <img ng-src="{{next.src}}"  ng-show="!!next">
        </div>
    </div>
    <toolbar items="ok|back"></toolbar>
</div>
