<div ng-controller="ShoppingCartController" class="order-content">
    <div class="content-header">{{title}}</div>
    <div class="content-main" style="text-align: center">
        <div class="shopping-list-container">
            <ul id="order-list" class="shopping-list" ng-style="{top: listTopStyle + 'px'}">
                <li ng-repeat="item in order track by $index" ng-class="{'selected': $index==selectedIndex}">
                    <span>{{item.name}}</span><span>{{coin}}{{item.price}}{{priceText}}</span><span class="cart_num">&nbsp;{{item.num}}&nbsp;</span>
                </li>
            </ul>
        </div>
        <div class="total-price">
            <span>{{cartText.total}}</span><span>{{coin}}{{total}}</span>
        </div>
        <div class="cart_btn_container">
            <span class="button-submit" ng-class="{'active': menu=='submit'}" style="margin-right: 60px">{{cartText.submit}}</span>
            <span class="button-cancel" ng-class="{'active': menu=='cancel'}" style="margin-left: 60px">{{cartText.cancel}}</span>
        </div>
    </div>
    <toolbar items="cart_l_r|back"></toolbar>
</div>