
/* body */

body {
    background: url("../images/bg_window.jpg") no-repeat;
}

/* activity stack */

.activity-stack-container {
    position: absolute;
    left: 0;
    right: 0;
    width: 1280px;
    height: 720px;
}

.include-content.menu-visible {
    background: url("../images/bg_activity_with_menu.png") no-repeat 0 0;
    background-size: 1136px 636px;
}

.activity-stack-container>li:first-child>.include-content {
    background: url("../images/bg_activity_index.png") no-repeat 0 0 ;
    background-size: 1136px 606px;
}

.include-content {
    background: url("../images/bg_activity.png") no-repeat 0 0;
    background-size: 1136px 618px;
    position: absolute;
    top: 48px;
    left: 72px;
    width: 1136px;
    height: 636px;
    color: #ffffff;
}

.include-content>div>.content-header {
    width: calc(100% - 50px);
    height: 63px;
    margin-bottom: 4px;
    text-align: right;
    line-height: 62px;
    font-size: 36px;
    /*letter-spacing: 20px;*/
    padding-right: 50px;
}

.include-content>div>.content-main {
    width: 100%;
    height: 510px;
    margin-bottom: 4px;
}

.include-content>div>.content-footer {
    width: 100%;
    height: 36px;
}
