/* body */
body {
    background: url("../images/bg_window.png") no-repeat;
}
/*welcome page*/
.logo{
    position: absolute;
    left: 12px;
    top: 27px;
}
.welcome-text-container{
    font-family: 宋体b8b\4f53;
    width: 936px;
    padding: 0 172px;
}
.welcome-title{
    color: #FFD38B;
    font-size: 32px;
}
.guest-name{
    font-size: 38px;
}
.welcome-text{
    font-size: 32px;
    margin-top: 23.3px;
    line-height: 42.7px;
}