
/* css reset */

* {
    margin: 0; padding: 0;
}

body {
    font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑",'Segoe UI',Tahoma,"宋体b8b\4f53",SimSun,sans-serif;
    font-size: 18px;
    z-index: 0;
    -moz-user-select: none;
    -webkit-text-size-adjust: none;
    overflow: auto;
    color: #333;
    word-break: break-all;
    position: absolute;
    width: 1280px;
    height: 720px;
    font-weight: 500;
    background-size: cover;
    left: 50%;
    margin-left: -640px;
}

i, em, b,label {
    font-style: normal;
    vertical-align: top;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img, fieldset {
    border: none;
    vertical-align: top;
}

table {
    border-collapse: collapse;
}

input, textarea, select {
    outline: none;
}

textarea {
    resize: none; overflow: auto;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}
