.rotate_img{
    -webkit-transition: -webkit-transform 0.75s;
    -moz-transition: -moz-transform 0.75s;
    transition: transform 0.75s;
}

#amt_btn{
    -webkit-transition: -webkit-transform 0.75s;
    -moz-transition: -moz-transform 0.75s;
    transition: transform 0.75s;
}

.rotate_down{
    animation: down 1s forwards;
    -moz-animation: down 1s forwards;	/* Firefox */
    -webkit-animation: down 1s forwards;	/* Safari 和 Chrome */
    -o-animation: down 1s forwards;
}

@keyframes down
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    0%{
        -webkit-transform:rotatex(0deg);top: 0;
    }
    100%{
        -webkit-transform:rotatex(-90deg);top: 130px;
    }
}

@-moz-keyframes down /* Firefox */
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    0%{
        -webkit-transform:rotatex(0deg);top: 0;
    }
    100%{
        -webkit-transform:rotatex(-90deg);top: 130px;
    }
}

@-webkit-keyframes down /* Safari 和 Chrome */
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    0%{
        -webkit-transform:rotatex(0deg);top: 0;
    }
    100%{
        -webkit-transform:rotatex(-90deg);top: 130px;
    }
}

@-o-keyframes down /* Opera */
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    0%{
        -webkit-transform:rotatex(0deg);top: 0;
    }
    100%{
        -webkit-transform:rotatex(-90deg);top: 130px;
    }
}

.test_animation{
    animation: myfirst 0.5s forwards;
    -moz-animation: myfirst 0.5s forwards;	/* Firefox */
    -webkit-animation: myfirst 0.5s forwards;	/* Safari 和 Chrome */
    -o-animation: myfirst 0.5s forwards;
}


@keyframes myfirst
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    0%{
        -webkit-transform:rotatex(0deg);top: 0;
    }
    100%{
        -webkit-transform:rotatex(90deg);top: -130px;
    }
}

@-moz-keyframes myfirst /* Firefox */
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    0%{
        -webkit-transform:rotatex(0deg);top: 0;
    }
    100%{
        -webkit-transform:rotatex(90deg);top: -130px;
    }
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    0%{
        -webkit-transform:rotatex(0deg);top: 0;
    }
    100%{
        -webkit-transform:rotatex(90deg);top: -130px;
    }
}

@-o-keyframes myfirst /* Opera */
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    0%{
        -webkit-transform:rotatex(0deg);top: 0;
    }
    100%{
        -webkit-transform:rotatex(90deg);top: -130px;
    }
}

#test{
    display: inline-block;
}

#test1{
    margin-top: 500px;
}

#stage{
    perspective: 800px;
}

#container{
    transform-style: preserve-3d;
}

.rotate{
    transform: rotatex(75deg);
}

.img-container{
    top:-300px;
    left: 220px;
    position: absolute;

    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    transition: transform 1s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


.animation{
    animation: test 0.5s forwards;
    -moz-animation: test 0.5s forwards;	/* Firefox */
    -webkit-animation: test 0.5s forwards;	/* Safari 和 Chrome */
    -o-animation: test 0.5s forwards;
}


@keyframes test
{
    from {width: 191px;height: 340px;top: 0}
    to {width: 229.2px;height: 408px;top:-34px}
}

@-moz-keyframes test /* Firefox */
{
    from {width: 191px;height: 340px;top: 0}
    to {width: 229.2px;height: 408px;top:-34px}
}

@-webkit-keyframes test /* Safari 和 Chrome */
{
    from {width: 191px;height: 340px;top: 0}
    to {width: 229.2px;height: 408px;top:-34px}
}

@-o-keyframes test /* Opera */
{
    from {width: 191px;height: 340px;top: 0}
    to {width: 229.2px;height: 408px;top:-34px}
}


.opacityAdd{
    animation: add 0.75s forwards;
    -moz-animation: add 0.75s forwards;	/* Firefox */
    -webkit-animation: add 0.75s forwards;	/* Safari 和 Chrome */
    -o-animation: add 0.75s forwards;
}

@keyframes add
{
    from {opacity: 0;}
    to {opacity: 1;}
}

@-moz-keyframes add /* Firefox */
{
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes add /* Safari 和 Chrome */
{
    from {opacity: 0;}
    to {opacity: 1;}
}

@-o-keyframes add /* Opera */
{
    from {opacity: 0;}
    to {opacity: 1;}
}

.opacityReduce{
    animation: reduce 0.75s forwards;
    -moz-animation: reduce 0.75s forwards;	/* Firefox */
    -webkit-animation: reduce 0.75s forwards;	/* Safari 和 Chrome */
    -o-animation: reduce 0.75s forwards;
}

@keyframes reduce
{
    from {opacity: 1;}
    to {opacity: 0;}
}

@-moz-keyframes reduce /* Firefox */
{
    from {opacity: 1;}
    to {opacity: 0;}
}

@-webkit-keyframes reduce /* Safari 和 Chrome */
{
    from {opacity: 1;}
    to {opacity: 0;}
}

@-o-keyframes reduce /* Opera */
{
    from {opacity: 1;}
    to {opacity: 0;}
}

#amt_btn{
    height: 40px;
    width: 100px;
    background-color: blue;
    border-radius: 10px;
}



.click_amt{
    animation: click 1.2s forwards;
    -moz-animation: click 1.2s forwards;	/* Firefox */
    -webkit-animation: click 1.2s forwards;	/* Safari 和 Chrome */
    -o-animation: click 1.2s forwards;
}


@keyframes click
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    0%{
        -webkit-transform:scale(1);
    }
    33%{
        -webkit-transform:scale(1.2);
    }
    66%{
        -webkit-transform:scale(0.8);
    }
    100%{
        -webkit-transform:scale(1);
    }
}

@-moz-keyframes click /* Firefox */
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    0%{
        -webkit-transform:scale(1);
    }
    33%{
        -webkit-transform:scale(1.2);
    }
    66%{
        -webkit-transform:scale(0.8);
    }
    100%{
        -webkit-transform:scale(1);
    }
}

@-webkit-keyframes click /* Safari 和 Chrome */
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    0%{
        -webkit-transform:scale(1);
    }
    33%{
        -webkit-transform:scale(1.2);
    }
    66%{
        -webkit-transform:scale(0.8);
    }
    100%{
        -webkit-transform:scale(1);
    }
}

@-o-keyframes click /* Opera */
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    0%{
        -webkit-transform:scale(1);
    }
    33%{
        -webkit-transform:scale(1.2);
    }
    66%{
        -webkit-transform:scale(0.8);
    }
    100%{
        -webkit-transform:scale(1);
    }
}