.shopping-list-container {
    display: inline-block;
    width: 542px;
    height: 362px;
    background: url("../images/bg_category_list.png") no-repeat 0 0;
    background-size: 542px 360px;
    overflow: hidden;
    margin: 10px auto;
}

.total-price{
    width: 542px;
    height: 42px;
    line-height: 38px;
    background: url("../images/bg_category_list.png") no-repeat 0 0;
    background-size: 542px 40px;
    overflow: hidden;
    margin: -10px auto;
}

.total-price >span {
    display: inline-block;
    font-size: 26px;
    padding: 0 10px;
    width: 215px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shopping-list {
    padding: 4px 8px;
    position: relative;
}

.shopping-list li {
    height: 39px;
    line-height: 38px;
    animation: fade-out;
    animation-duration: 4s;
    -webkit-animation:fade-in 1.5s;
}

.shopping-list li.selected {
    background: url("../images/bg_category_lsit_selected.png") 0 0 no-repeat;
    background-size: 526px 39px;

}

.shopping-list li>span {
    display: inline-block;
    font-size: 26px;
    padding: 0 10px;
    width: 145px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart_num:after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 100%;
    vertical-align: top;
    background: url("../images/ic_arrow_right.png") center no-repeat;
    background-size: 12px 24px;
}
.cart_num:before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 100%;
    vertical-align: top;
    background: url("../images/ic_arrow_left.png") center no-repeat;
    background-size: 12px 24px;
}

@keyframes fade-out {
    0% {opacity: 1;}
    40% {opacity: 0;}
    100% {opacity: 0;}
}
@-webkit-keyframes fade-out {
    0% {opacity: 1;}
    40% {opacity: 0;}
    100% {opacity: 0;}
}

.cart_btn_container{
    width: 542px;
    height: 42px;
    line-height: 38px;
    margin: 15px auto;
}
.button-submit,.button-cancel{
    display: inline-block;
    width: 120px;
    height:41px;
    background: url("../images/ic_button.png") no-repeat 0;
    background-size: 120px;
    text-align: center;
}

.button-submit.active{
    display: inline-block;
    width: 120px;
    height:41px;
    background: url("../images/ic_button_active.png") no-repeat 0;
    background-size: 120px;
    text-align: center;
}
.button-cancel.active{
    display: inline-block;
    width: 120px;
    height:41px;
    background: url("../images/ic_button_active.png") no-repeat 0;
    background-size: 120px;
    text-align: center;
}

