
.weather-list-container, .weather-preview {
    display: inline-block;
    width: 542px;
    height: 490px;
    background: url("../images/bg_category_list.png") no-repeat 0 0;
    background-size: 542px 490px;
    overflow: hidden;
}

.weather-list-container {
    margin: 10px 0px 10px 21px;
}

.weather-preview {
    margin: 10px 21px 10px 0px;
    float: right;
}

.weather-menu-list, .city-list {
    padding: 4px 8px;
    position: relative;
}

.weather-menu-list li {
    height: 39px;
    line-height: 38px;
}

.city-list li {
    height: 39px;
    line-height: 38px;
}

.weather-menu-list li.selected {
    background: url("../images/bg_category_lsit_selected.png") 0 0 no-repeat;
    background-size: 526px 39px;
}

.city-list li.selected {
    background: url("../images/bg_category_lsit_selected.png") 0 0 no-repeat;
    background-size: 526px 39px;
}

.weather-menu-list li>span {
    display: inline-block;
    font-size: 26px;
    padding: 0 10px;
    width: 475px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.city-list li>span {
    display: inline-block;
    font-size: 26px;
    padding: 0 10px;
    width: 475px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.weather-menu-list li:after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 100%;
    vertical-align: top;
    background: url("../images/ic_arrow_right.png") center no-repeat;
    background-size: 12px 24px;
}




