
.tpl-pic-text-simple-main>.current {
    width: 520px;
    margin: 20px;
    height: calc(100% - 80px);
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.tpl-pic-text-simple-main>.current>i {
    width: 500px;
    height: 280px;
    display: block;
    text-align: center;
    padding: 10px;
    background: #ffffff;
    border-radius: 20px;
}

.tpl-pic-text-simple-main>.current>i:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.tpl-pic-text-simple-main>.current>i>img {
    vertical-align: middle;
    width: 500px;
    height: 280px;
    border-radius: 20px;
}

.tpl-pic-text-simple-main>.current>p {
    position: absolute;
    top: 300px;
    line-height: 30px;
    font-size: 26px;
}

.tpl-pic-text-simple-main>.previous, .tpl-pic-text-simple-main>.next {
    width: 282.5px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.tpl-pic-text-simple-main>.previous>img, .tpl-pic-text-simple-main>.next>img {
    height: 240px;
    margin-top: 50px;
    opacity: 0.7;
    border-radius: 20px;
}


.tpl-pic-text-simple-main>.previous>img {
    float: right;
}

.tpl-pic-text-simple-main>.next>img {
    float: left;
}
