
/* weather page */
.weather-top{
    width: 100%;
    height:8%;
    margin: 0;
    padding: 5% 0;
}
.weather-title{
    display: inline-block;
    width: 25%;
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
}
.weather-content{
    width: 100%;
    height: 75%;
    margin: 0 0 0 -55px;
    padding: 0 5%;
}
.weather-days{
    width: 29%;
    height: 80%;
    float: left;
    margin: 2%;
}
.weather-icon{
    margin: 0 auto;
    text-align: center;
}
.weather-days-title{
    text-align: center;
}
.weather-days-bottom{
    text-align: center;
}
